---
import LoadPhaser from "../components/phaser/LoadPhaser.astro";
---

<!doctype html>
<html lang="en">
<body>
	<LoadPhaser/>
</body>
</html>

<style is:global>
	body{
		margin-top: 4vh;
	}
</style>
